body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAAAZCAYAAADpG6rZAAAAg0lEQVRoBe3TQQ2AQBDFUBZFCCDhhC6kAwkq3tJR0Gnzx3Jc9zLpjfevc98m/e57a536ux88V0A8cgELiBvA8VtgAXEDOH4LLCBuAMdvgQXEDeD4LbCAuAEcvwUWEDeA47fAAuIGcPwWWEDcAI7fAguIG8DxW2ABcQM4fgssIG4Ax38AjJICoTOcv+AAAAAASUVORK5CYII=); 
  font: 13px/1.5 helvetica, arial, sans-serif;
}

#container {
  width: 80%;
  max-width: 1000px;
  min-width: 300px;  
  background: rgba(255, 255, 255, 0.8);
  margin: 3em auto; 
  padding: 2em; 
  border: 1px solid #fff;
}                    

